services:
  db:
    image: postgres:17
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  django-web:
    build: .
    container_name: django-docker
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
      - waha
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DEBUG: ${DEBUG}
      DJANGO_LOGLEVEL: ${DJANGO_LOGLEVEL}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
      DATABASE_ENGINE: ${DATABASE_ENGINE}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_DB: 0
      WEBHOOK_HMAC_SECRET: ${WEBHOOK_HMAC_SECRET}
    env_file:
      - .env
    volumes:
      - .:/app 

  worker:
    build: .
    container_name: whatsapp-worker
    depends_on:
      - redis
      - django-web
      - waha
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_DB: 0
      DJANGO_SETTINGS_MODULE: chatbot.settings
    env_file:
      - .env
    volumes:
      - .:/app
    restart: unless-stopped
    command: python workers/whatsapp_worker.py

  waha:
    container_name: waha
    image: devlikeapro/waha:latest
    restart: always
    ports:
      - "3000:3000"
    environment:
      - WAHA_DASHBOARD_ENABLED=true
      - WAHA_API_KEY=${WAHA_API_KEY}
      - WAHA_SESSION_CONFIG_IGNORE_STATUS=true
      - WAHA_SESSION_CONFIG_IGNORE_GROUPS=true
      - WAHA_SESSION_CONFIG_IGNORE_CHANNELS=true
      - WAHA_SESSION_CONFIG_IGNORE_BROADCAST=true
      - WHATSAPP_HOOK_HMAC_KEY=${WEBHOOK_HMAC_SECRET}
    volumes:
      - ./waha_sessions:/app/.sessions
    env_file:
      - .env

  redis:
    image: redis:latest
    container_name: redis
    command: redis-server --port 6379 --appendonly yes
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis:/data

volumes:
  postgres_data:
  redis: